{{>layout/header}}
<h1>파일 업로드, 조회, 다운로드, 서명하기 </h1>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <form method="post" action="/files" enctype="multipart/form-data">
        <input type="file" name="files" multiple="multiple">
        <input type="submit">
      </form>
    </div>
  </div>
  <div class="row">
    <table class="table table-horizontal table-bordered">
      <thead class="thead-strong">
      <tr>
        <th>번호</th>
        <th>파일명</th>
        <th>파일종류</th>
        <th>업데이트 일시</th>
        <th>삭제</th>
      </tr>
      </thead>
      <tbody id="tbody">
      {{#files}}
        <tr>
          <td>{{id}}</td>
          <td><a href="/files/download/{{id}}">{{fileName}}</a></td>
          <td>{{contentType}}</td>
          <td>{{lastModifiedDate}}</td>
          <td>
            <button type="button" class="btn btn-danger" id="{{id}}" onclick="function delete_file(id) {
            $.ajax({
              type: 'DELETE',
              url: '/files/' + id,
              dataType: 'json',
              contentType: 'application/json; charset=utf-8'
            }).done(function () {
              window.location.href = '/';
            }).fail(function (error) {
              window.location.href = '/';
            })
          } delete_file(this.id)">삭제
            </button>
          </td>
        </tr>
      {{/files}}
      </tbody>
    </table>
  </div>
</div>
{{>layout/footer}}