<h1>Upload file</h1>
<div class="col-md-12">
  <div class="col-md-4">
    <form method="post" action="/upload" enctype="multipart/form-data">
      <input type="file" name="uploadfile" multiple="multiple">
      <input type="submit">
    </form>
  </div>
</div>